<div class="row">
  <div class="jumbotron col-xs-3">
    <h1 class="display-4"><%= @ticket.number %></h1>
    <p class="lead"><%= t('column_names.number') %></p>
  </div>
  <div class="jumbotron col-xs-9">
    <h1 class="display-4"><%= @ticket.state %></h1>
    <p class="lead"><%= t('column_names.ticket.state') %></p>
  </div>
</div>
